/* Estilos generales para la página de contacto */
.contacto-form {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}


