/* Estilos generales */
.hero {
    background-color: rgb(62, 61, 61);
    color: white;
    padding: 50px;
    text-align: center;
}

.hero .btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.destacados {
    padding: 20px;
    text-align: center;
}

.destacados h2 {
    margin-bottom: 20px;
}

.productos-grid {
    display: flex;
    justify-content: space-around;
}

.producto {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    width: 30%;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

