/* Estilos generales para la página de productos */
.productos-lista {
    padding: 20px;
    text-align: center;
}

.productos-lista h2 {
    margin-bottom: 20px;
}

.producto-detalle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 30%;
    border: 1px solid #ddd;
    text-align: center;
}

.producto img {
    max-width: 100%;
}

.producto button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

